---
- name: Redeploy updated Next.js code
  hosts: nextjs
  become: yes

  tasks:
    - name: Pull latest code from GitHub
      git:
        repo: "https://github.com/Abhishek-ak7/bnoverseas-app.git"
        dest: "/var/www/bnoverseas-app"
        version: main
        force: yes

    - name: Install dependencies
      shell: |
        cd /var/www/bnoverseas-app
        npm install --legacy-peer-deps
      become_user: ubuntu

    - name: Rebuild Next.js app
      shell: |
        cd /var/www/bnoverseas-app
        npm run build
      become_user: ubuntu
      environment:
        NODE_ENV: production

    - name: Restart PM2 process
      shell: pm2 restart bnoverseas-app
      become_user: ubuntu
